/*
Document   : variables
Created on : Jan 8, 2013, 2:22:28 PM
Author     : Alastair Brayne
Description:
Place variables and mixins such as the colour scheme in here. This will be loaded into all the main stylesheets as an include.
*/

$body: #777;
$headers: #333;
$aqua: #3bdbd2;
$aqua-dark: #27b9b1;
$blue-light: #a2e4fa;
$grey: #c2c2c2;
$linkColour: $aqua;
$activeLinkColour: darken($linkColour, 12%);
$visitedLinkColour: darken($linkColour, 12%);
$blue: #31a9e1;
$dark-grey: darken($grey, 35%);
$light-grey: lighten($grey, 4%);


@mixin standardFont($size: 14px, $lineHeight: 20px) {
    font-family: "interface",sans-serif;
    font-size: $size;
    line-height: $lineHeight;
    color: $body;
}