/* Header bar */
#head-bar{
	h1{
		color: #224e95;
		font-size: 27px;
		font-weight: 600;
	}
	background: #fff;
	text-align: center;
	padding: 6px 0 11px;
}

/* Sections */
.section{
	overflow: hidden;
	position: relative;
	.arrow{
		position: absolute;
		top: 0;
		left: 50%;
		margin-left: -24px;
	}
	.reverse-arrow{
		background: url(../img/arrow-reverse.png) center no-repeat;
		width: 100%;
		height: 21px;
		position: absolute;
		top: -21px;
		left: 0;
	}
	h1{
		color: $grey;
		font-size: 56px;
		line-height: 68px;
	}
	/* Feature */
	&#feature{
		background: url(../img/bg-1.jpg) center;
		background-size: cover;
		text-align: center;
		padding: 120px 0 140px;
		h3{
			color: #fff;
		}
	}
	
	/* About */
	&#about{
		overflow: visible;
		padding: 75px 0 75px;
		text-align: center;
	}
	
	/* Who's involved */
	&#who{
		padding: 0 0 90px;
		text-align: center;
		#logos{
			text-align: center;
			margin-top: 32px;
			a{
				display: inline-block;
				overflow: hidden;
				width: 12%;
				padding: 0 2%;
				&.portrait{
					padding: 0;
				}
				img:hover{
					filter:alpha(opacity=75); -moz-opacity: 0.75; -khtml-opacity: 0.75; opacity: 0.75;
				}
			}
		}
	}
	
	/* Media Links */
	&#media{
		background: url(../img/bg-2.jpg) center bottom;
		background-size: cover;
		padding: 82px 0 110px;
		h1{
			margin-bottom: 40px;
			text-align: center;
		}
		a{
			font-weight: bold;
		}
	}
	
	/* Register */
	&#register{
		overflow: visible;
		padding: 30px 0 60px;
		a.social{
			display: block;
			width: 57px;
			height: 57px;
			margin-top: 20px;
			float: left;
			font-size: 0;
			text-indent: -1000px;
			text-transform: uppercase;
			overflow: hidden;
			-webkit-transition: none;
		    -moz-transition: none;
		    -o-transition: none;
		    transition: none;
			&#twitter{
				background: url(../img/social.png) 0 0;
				&:hover{  
					background: url(../img/social.png) 0 57px;
				}
			}
			&#email{
				background: url(../img/social.png) 57px 0;
				margin-left: 22px;
				&:hover{  
					background: url(../img/social.png) 57px 57px;
				}
			}
		}
		.form-icon{
			float: left;
			margin: 15px 20px 0 0;
			display: block;
			clear: left;
		}
		.form-description{
			float: left;
			display: block;
			width: 90%;
			margin: 15px 0 0;
		}
	}
	
	/* Form */
	form{
		.validation_error{
			display: none;
		}
		.validation_message{
			color: red;
		}
		div{
			&.gform_body{
				width: 619px;
			}
			float: left;
			ul{
				list-style-type: none;
				margin-left: 0;
				.gform_validation_container{
					display: none;
				}
				label{
					display: none;
				}
			}
			input[type="email"]{
				width: 579px;
				height: 51px;
				border: none;
				background: #e6e6e3;
				padding: 10px 20px;
				font-size: 20px;
				color: #333;
				-moz-border-radius: 3px 0 0 3px;
				border-radius: 3px 0 0 3px;
				-webkit-border-radius: 3px 0 0 3px;
				-webkit-box-shadow: inset 5px 5px 0px 0px rgba(216,216,214,1);
				-moz-box-shadow: inset 5px 5px 0px 0px rgba(216,216,214,1);
				box-shadow: inset 5px 5px 0px 0px rgba(216,216,214,1);
				&:focus{
					box-shadow: none;
					background: #d8d8d6;
				}
			}
			input[type="submit"]{
				border: none;
				outline: none;
				width: 119px;
				height: 71px;
				font-size: 34px;
				text-align: center;
				padding: 0;
				-moz-border-radius: 0 4px 4px 0;
				border-radius: 0 4px 4px 0;
				-webkit-border-radius: 0 4px 4px 0;
			}
		}
	}
	#gforms_confirmation_message{
		background: #d8efd7;
		padding: 18px;
		margin: 29px 0 0;
		font-size: 17px;
		color: #4e804c;
		border: 1px solid #cbe5ca;
		-moz-border-radius: 3px;
		border-radius: 3px;
		-webkit-border-radius: 3px;
	}
}

/* ----------------*/
/* ----------------*/
/* ----------------*/ /* ----------------*/ /* REGULAR DESKTOPS */
/* ----------------*/
/* ----------------*/

@media (max-width: 1199px) {
	.section form div.gform_body { width: 467px; }
	.section form div input[type="email"] { width: 427px; }
	.section#register .form-description { width: 87%; }
}