/* >>>>>> CUSTOM COLUM WIDTHS TO GIVE THE ILLUSION OF PADDING ON CONTAINER DIVS... ACTUAL PADDING IS NOT WANTED AS IT WILL INCREASE THE WIDTH OF THE CONTAINER DIVS AND SCREW UP THE BOOTSTRAP BREAK POINTS. THE SOLUTION IS TO CREATE ALTERNATIVE COLUM WIDTHS FOR ALL .SPAN DIVS (COLUMS) NESTED WITHIN A '.NO-INDENT' .ROW - '.NO-INDENT' JUST REMOVES THE NEGATIVE MARGIN GIVEN BY BOOTSTRAP. THIS IS ALL DONE SO WE CAN HAVE PADDED CONTAINER DIVS THAT STILL FIT THE BOOTSTRAP STRUCTURE. THIS IS USEFUL WHEN WE WANT A BG COLOR ON CONTAINERS DIVS AND PADDING IS NEEDED."  <<<<<< */

.row.no-indent{
	padding-top: 8px;
	background: #e5e5e5;
	margin-left: 0;
}

/* ----------------*/
/* ----------------*/
/* ----------------*/ /* ----------------*/ /* MOBILE DEVICES */
/* ----------------*/
/* ----------------*/

@media only screen and (min-width: 0px) and (max-width: 482px) {
	.row.no-indent{
		padding-left: 12px;
		padding-right: 12px;
	}
}

/* ----------------*/
/* ----------------*/
/* ----------------*/ /* ----------------*/ /* SMALL TABLETS / LARGE MOBILES */
/* ----------------*/
/* ----------------*/

@media (min-width: 483px) and (max-width: 767px) {
	.row.no-indent{
		padding-left: 18px;
		padding-right: 18px;
	}
}

/* ----------------*/
/* ----------------*/
/* ----------------*/ /* ----------------*/ /* TABLETS: 767-979px */
/* ----------------*/
/* ----------------*/
@media (min-width: 768px) and (max-width: 979px) {
	.row.no-indent{
		&:last-child{ padding-bottom: 38px; }
		
	    .span12{ width: 623px; }
	    .span11{ width: 569px; }
	    .span10{ width: 515px; }
	    .span9{ width: 460px; }
	    .span8{ width: 406px; }
	    .span7{ width: 352px; }
	    .span6{ width: 297px; }
	    .span5{ width: 243px; }
	    .span4{ width: 189px; }
	    .span3{ width: 134px; }
	    .span2{ width: 80px; }
	    .span1{ width: 26px; }
	
	    /* Custom offests are calculated by: corresponding span width + (gutter width * 2), this is different for different break points */
	    .offset11{ margin-left: 625px; }
	    .offset10{ margin-left: 571px; }
	    .offset9{ margin-left: 516px; }
	    .offset8{ margin-left: 462px; }
	    .offset7{ margin-left: 408px; }
	    .offset6{ margin-left: 353px; }
	    .offset5{ margin-left: 299px; }
	    .offset4{ margin-left: 245px; }
	    .offset3{ margin-left: 190px; }
	    .offset2{ margin-left: 136px; }
	    .offset1{ margin-left: 82px; }
	}
}

/* ----------------*/
/* ----------------*/
/* ----------------*/ /* ----------------*/ /* REGULAR DESKTOPS / LAPTOPS: 980-1199px */
/* ----------------*/
/* ----------------*/
@media (min-width: 980px) and (max-width: 1199px){
	.row.no-indent{
		&:last-child{ padding-bottom: 38px; }
		
	    .span12{ width: 821px; }
	    .span11{ width: 750px; }
	    .span10{ width: 678px; }
	    .span9{ width: 606px; }
	    .span8{ width: 535px; }
	    .span7{ width: 463px; }
	    .span6{ width: 391px; }
	    .span5{ width: 320px; }
	    .span4{ width: 248px; }
	    .span3{ width: 176px; }
	    .span2{ width: 105px; }
	    .span1{ width: 33px; }
	
	    /* Custom offests are calculated by: corresponding span width + (gutter width * 2), this is different for different break points */
	    .offset11{ margin-left: 826px; }
	    .offset10{ margin-left: 754px; }
	    .offset9{ margin-left: 682px; }
	    .offset8{ margin-left: 611px; }
	    .offset7{ margin-left: 539px; }
	    .offset6{ margin-left: 467px; }
	    .offset5{ margin-left: 396px; }
	    .offset4{ margin-left: 324px; }
	    .offset3{ margin-left: 252px; }
	    .offset2{ margin-left: 181px; }
	    .offset1{ margin-left: 109px; }
	}
}

/* ----------------*/
/* ----------------*/
/* ----------------*/ /* ----------------*/ /* LARGE DESKTOPS / LAPTOPS: > 1199px */
/* ----------------*/
/* ----------------*/
@media (min-width: 1200px){
  	.row.no-indent{
  		&:last-child{ padding-bottom: 38px; }
  	
	    .span12{ width: 1050px; }
	    .span11{ width: 960px; }
	    .span10{ width: 869px; }
	    .span9{ width: 778px; }
	    .span8{ width: 687px; }
	    .span7{ width: 596px; }
	    .span6{ width: 506px; }
	    .span5{ width: 415px; }
	    .span4{ width: 324px; }
	    .span3{ width: 233px; }
	    .span2{ width: 142px; }
	    .span1{ width: 52px; }
	
	    /* Custom offests are calculated by: corresponding span width + (gutter width * 2), this is different for different break points */
	    .offset11{ margin-left: 1036px; }
	    .offset10{ margin-left: 945px; }
	    .offset9{ margin-left: 854px; }
	    .offset8{ margin-left: 763px; }
	    .offset7{ margin-left: 672px; }
	    .offset6{ margin-left: 582px; }
	    .offset5{ margin-left: 491px; }
	    .offset4{ margin-left: 400px; }
	    .offset3{ margin-left: 309px; }
	    .offset2{ margin-left: 218px; }
	    .offset1{ margin-left: 128px; }
	}
}