@import "base";
@import "home";
@import "no-indent";

/* ==========================================================================
   Base
   ========================================================================== */
html{ overflow: auto; }
html, body{
	min-height: 100%;
	height: 100%;
	width: 100%;
	min-width: 965px;
}

body { 
	@include standardFont;
}
[class*="span"]{ overflow: hidden; }
a {
	-webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    color: $linkColour;    
    &:visited {
        color: $visitedLinkColour;
    }
    &:active, &:hover {
        color: $activeLinkColour;
    }
}
.right{ text-align: right; }
.left{ text-align: left; }
.bg-white{ // This is for demo purposes only and can be deleted
	background: #fff; 
	padding: 10px 0; 
	p{
		margin: 0 10px;
	}
}


/* =============================================================================
   Typography
   ========================================================================== */
p{ margin: 0 0 15px; }
h1.jumbo{
	font-size: 52px;
	line-height: 62px;
	color: $headers;
}
h1{ 
	font-size: 38.5px;
	line-height: 52px;
}
h1{ margin: 20px 0 16px; }
h2{
	font-size: 35px;
	color: $grey;
}
h3{
	font-weight: 300;
	line-height: 37px;
}
h4{ line-height: 23px; }
h2, h3, h4, h5, h6 { margin: 20px 0 7px; }
.aqua{ color: $aqua; }
.white{ color: #fff!important; }
.bold{ font-weight: bold; }
.italic{ font-style: italic; }
.smallprint{ font-size: 11px; font-weight: normal; }
blockquote p { line-height: 1.4; }

/* =============================================================================
   Buttons
   ========================================================================== */
.button{
	display: block;
	color: #fff;
	font-size: 15px;
	padding: 9px 33px 9px 13px;
	background: $aqua;
	font-family: 'Noto Sans', sans-serif;
	font-weight: bold;
	position: relative;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-ms-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all 0.2s ease;
	.arrow{
		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 5.5px 0 5.5px 8px;
		border-color: transparent transparent transparent #fff;
		display: block;
		position: absolute;
		top: 50%;
		margin-top: -4px;
		right: 11px;
	}
	&:hover{
		color: #fff;
		text-decoration: none;
		background: darken($aqua, 5%);
	}
}   
   

/* =============================================================================
   Spacing and generic styles
   ========================================================================== */
hr{  
	margin: 30px 0 20px;
	height: 1px;
	width: 100%;
	background: $grey;
	display: block;
	float: left;
	clear: both;
	border: 0 none;
}
.marginTop{ margin-top: 30px; }
   

/* =============================================================================
   Header
   ========================================================================== */
.navbar{
	position: relative;
	margin: 30px 0;
	.navbar-inner{
		background: none;
		padding: 0;
		border: 0 none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		.brand{
			padding: 10px 0 0;
			margin: 0;
			text-shadow: none;
		}
		nav{
			float: right;
			/* text-transform: uppercase; */
			margin: 0;
			.nav{
				margin: 0;
				li{
					&.menu-contact-us a{
						padding-right: 0;
					}
					&.active a{ color: $headers; }
					&.active > a{
						background: 0 none;
						-webkit-box-shadow: none;
						-moz-box-shadow: none;
						box-shadow: none;
						color: $aqua;
					}
					
					a{
						text-shadow: none;
						font-weight: bold;
						color: $headers;
						padding: 10px 11px 7px;
					}
					&.dropdown{
						ul.dropdown-menu{
								-moz-border-radius: 3px;
								border-radius: 3px;
								-webkit-border-radius: 3px;
								-webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
								-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
								border-color: $grey;
								margin: 0;
								li{
									a{
										font-size: 12px;
										text-transform: none;
										&:hover{
											background: $grey;
										}
									}
								}
							}
						&.active{
							> a{
								color: $aqua;
							}
							.dropdown-toggle{
								background-color: transparent;
							}
						}
					}
				}
			}
		}
		#login{
			text-transform: uppercase;
			clear: both;
			float: right;
			font-weight: bold;
			font-size: 10px;
			color: $aqua;
		}
	}
}

/* ==========================================================================
   Pagination
   ========================================================================== */
nav{
	.tw-pagination{
		a{
			background: #fff;
			border: 0 none;
			padding: 5px 11px 6px;
		}
		.current{
			background: $grey;
			border: 0 none;
			padding: 5px 11px 6px;
			-moz-border-radius: 1px;
			border-radius: 1px;
			-webkit-border-radius: 1px;
		}
		.title{
			margin-right: 14px;
			font-size: 18px;
		}
		a:hover{
			background: $grey;
			color: $headers;
		}
	}
}

/* ==========================================================================
   Content
   ========================================================================== */

.content { }



/* ==========================================================================
   Primary Content
   ========================================================================== */

#main { }



/* ==========================================================================
   Sidebar
   ========================================================================== */

#sidebar { 
	font-size: 12px;
	line-height: 18px;
	.item{
		margin-bottom: 30px;
		ul{
			list-style-type: none;
			margin-left: 0;
			li{
				color: $dark-grey;
				a{
					display: block;
					padding: 9px;
					border-bottom: 1px solid #eee;
					&:hover{
						text-decoration: none;
						background: $aqua;
						border-bottom: 1px solid $aqua;
						color: #fff;
						&:visited{
							color: #fff;
						}
					}
					&:visited{
						color: $aqua;
					}
				}
				&.active{
					a{
						text-decoration: none;
						background: $aqua;
						border-bottom: 1px solid $aqua;
						color: #fff;
					}
				}
			}
		}
	}
}



/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry p.byline { }
.hentry .entry-content { }
.hentry footer { }


/* ==========================================================================
   Pagination
   ========================================================================== */
.navigation{
	display: block;
	width: 100%;
	clear: both;
	.tw-pagination{
		a{
			background: #fff;
			border: 0 none;
			padding: 5px 11px 6px;
		}
		.current{
			background: $grey;
			border: 0 none;
			padding: 5px 11px 6px;
			-moz-border-radius: 1px;
			border-radius: 1px;
			-webkit-border-radius: 1px;
		}
		.title{
			margin-right: 14px;
			font-size: 18px;
		}
		a:hover{
			background: $grey;
			color: $headers;
		}
	}
}


/* =============================================================================
   Footer Stick Structure
   ========================================================================== */
#footer-stick-wrap{
	min-height: 100%;
	height: auto;
	margin: 0 auto;
	float: left;
	width: 100%;
	> .container:last-child{
		margin-bottom: 84px;
		overflow: hidden;
		height: auto;
		position: relative;
		padding-bottom: 40px;
	}
}
#finisher{
	width: 100%;
	height: 0px;
	float: left;
	clear: both;
}
footer{ 
	background: #000;
	float: left;
	width: 100%;
	height: 84px;
	margin: -84px 0 0 0;
	vertical-align: bottom;
	position: relative; 

}



/* ==========================================================================
   Footer
   ========================================================================== */
footer{
	font-family: 'Noto Sans', sans-serif;
	font-size: 12px;
	font-weight: bold;
	p{
		margin-bottom: 4px;
	}
	.container{
		margin-top: 22px;
		nav{
			float: right;
			li{
				float: left;
				a, a:visited{
					color: $dark-grey;
					display: inline;
					margin: 0 0 0 14px;
				}
				a:hover{
					background: none;
					color: $aqua;
				}
				&.active a{
					color: #fff;
				}
			}
		}
		#menu-secondary-nav{
			float: right;
			clear: right;
			li{
				float: left;
				a, a:visited{
					color: $dark-grey;
					display: inline;
					margin: 0 0 0 10px;
					font-size: 9px;
				}
				a:hover{
					background: none;
					color: $aqua;
				}
			}
		}
	}
}



/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }



/* ==========================================================================
   Media Queries
   ========================================================================== */

@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  body.top-navbar {
    padding-top: 0;
  }
}

/* -------------- RESPONSIVE -------------- */

/* ----------------*/
/* ----------------*/
/* ----------------*/ /* ----------------*/ /* MOBILE DEVICES */
/* ----------------*/
/* ----------------*/

@media only screen and (min-width: 0px) and (max-width: 482px) {
	.hidden-mobile{ display: none!important; }
	body{ padding: 0; }
	.container{ padding: 0 25px; }
	[class*="span"]{ margin-bottom: 10px; }
	.span12.header{ margin-bottom: 0; }
	footer [class*="span"]{ margin-bottom: 0; }
	.navbar{
		margin: 15px 0 0;
		.navbar-inner{
			a.btn-navbar{
				margin: 0;
				background-image: none;
				background: #fff;
				text-shadow: none;
				filter: none;
				border: 0 none;
				border-color: transparent;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				-moz-border-radius: 2px;
				border-radius: 2px;
				-webkit-border-radius: 2px;
				.icon-bar{
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					box-shadow: none;
					-moz-border-radius: 0;
					border-radius: 0;
					-webkit-border-radius: 0;
					background: $grey;
				}
				&.collapsed{
					background: $aqua;
					color: #fff;
					.icon-bar{
						background: #fff;
					}
				}
			}
			nav{
				margin-top: 17px;
				width: 100%;
				background: $light-grey;
				.nav{
					padding: 10px;
					li.dropdown{
						a{
							outline: none;
						}
						ul.dropdown-menu{
							background: $aqua;
							margin: 0;
							border: 0 none;
							-webkit-box-shadow: none;
							-moz-box-shadow: none;
							li{
								a{
									outline: none;
									&:hover{
										background: darken($aqua, 10%);
									}
								}
							}
						}
					}
				}
			}
			.brand{
				margin: 0;
			}
		}
	}
}

/* ----------------*/
/* ----------------*/
/* ----------------*/ /* ----------------*/ /* SMALL TABLETS / LARGE MOBILES */
/* ----------------*/
/* ----------------*/

@media (min-width: 483px) and (max-width: 767px) {
	.hidden-small-tablet{ display: none!important; }
	body{ padding: 0; }
	.container{ padding: 0 25px; }
	[class*="span"]{ margin-bottom: 10px; }
	.span12.header{ margin-bottom: 0; }
	footer [class*="span"]{ margin-bottom: 0; }
	.navbar{
		margin: 17px 0 0;
		.navbar-inner{
			a.btn-navbar{
				margin: 0;
				background-image: none;
				background: $grey;
				text-shadow: none;
				filter: none;
				border: 0 none;
				border-color: transparent;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				-moz-border-radius: 2px;
				border-radius: 2px;
				-webkit-border-radius: 2px;
				.icon-bar{
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					box-shadow: none;
					-moz-border-radius: 0;
					border-radius: 0;
					-webkit-border-radius: 0;
					background: #fff;
				}
				&.collapsed{
					background: $aqua;
					color: #fff;
					.icon-bar{
						background: #fff;
					}
				}
			}
			nav{
				margin-top: 17px;
				width: 100%;
				background: $light-grey;
				.nav{
					padding: 10px;
					li.dropdown{
						a{
							outline: none;
						}
						ul.dropdown-menu{
							background: $aqua;
							margin: 0;
							border: 0 none;
							-webkit-box-shadow: none;
							-moz-box-shadow: none;
							li{
								a{
									outline: none;
									&:hover{
										background: darken($aqua, 10%);
									}
								}
							}
						}
					}
				}
			}
			.brand{
				margin: 0;
			}
		}
	}
}

/* ----------------*/
/* ----------------*/
/* ----------------*/ /* ----------------*/ /* REGULAR TABLETS */
/* ----------------*/
/* ----------------*/

@media (min-width: 768px) and (max-width: 979px) {
	.hidden-tablet{ display: none!important; }
	.navbar{
		margin: 22px 0 0;
		.navbar-inner{
			a.btn-navbar{
				margin: 0;
				background-image: none;
				background: $grey;
				text-shadow: none;
				filter: none;
				border: 0 none;
				border-color: transparent;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
				-moz-border-radius: 2px;
				border-radius: 2px;
				-webkit-border-radius: 2px;
				.icon-bar{
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					box-shadow: none;
					-moz-border-radius: 0;
					border-radius: 0;
					-webkit-border-radius: 0;
					background: #fff;
				}
				&.collapsed{
					background: $aqua;
					color: #fff;
					.icon-bar{
						background: #fff;
					}
				}
			}
			nav{
				margin-top: 17px;
				width: 100%;
				background: $light-grey;
				.nav{
					padding: 10px;
					li.dropdown{
						a{
							outline: none;
						}
						ul.dropdown-menu{
							background: $aqua;
							margin: 0;
							border: 0 none;
							-webkit-box-shadow: none;
							-moz-box-shadow: none;
							li{
								a{
									&:hover{
										background: darken($aqua, 10%);
									}
								}
							}
						}
					}
				}
			}
			.brand{
				margin: 0;
			}
		}
	}
}

/* ----------------*/
/* ----------------*/
/* ----------------*/ /* ----------------*/ /* REGULAR DESKTOPS */
/* ----------------*/
/* ----------------*/

@media (min-width: 980px) and (max-width: 1199px) {
	.hidden-desktop{ display: none!important; }
	/* Nav */
	[class*="span"].header{ overflow: visible; }
	.navbar .navbar-inner nav .nav li.dropdown:hover ul{ display: block; }
}

/* ----------------*/
/* ----------------*/
/* ----------------*/ /* ----------------*/ /* LARGE DESKTOPS */
/* ----------------*/
/* ----------------*/

@media (min-width: 1200px) {
	.hidden-large-desktop{ display: none!important; }
	/* Nav */
	[class*="span"].header{ overflow: visible; }
	.navbar .navbar-inner nav .nav li.dropdown:hover ul{ display: block; }
}