/*
Document   : variables
Created on : Jan 8, 2013, 2:22:28 PM
Author     : Alastair Brayne
Description:
Place variables and mixins such as the colour scheme in here. This will be loaded into all the main stylesheets as an include.
*/
/* Header bar */
/* line 2, ../scss/_home.scss */
#head-bar {
  background: #fff;
  text-align: center;
  padding: 6px 0 11px;
}
/* line 3, ../scss/_home.scss */
#head-bar h1 {
  color: #224e95;
  font-size: 27px;
  font-weight: 600;
}

/* Sections */
/* line 14, ../scss/_home.scss */
.section {
  overflow: hidden;
  position: relative;
  /* Feature */
  /* About */
  /* Who's involved */
  /* Media Links */
  /* Register */
  /* Form */
}
/* line 17, ../scss/_home.scss */
.section .arrow {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -24px;
}
/* line 23, ../scss/_home.scss */
.section .reverse-arrow {
  background: url(../img/arrow-reverse.png) center no-repeat;
  width: 100%;
  height: 21px;
  position: absolute;
  top: -21px;
  left: 0;
}
/* line 31, ../scss/_home.scss */
.section h1 {
  color: #c2c2c2;
  font-size: 56px;
  line-height: 68px;
}
/* line 37, ../scss/_home.scss */
.section#feature {
  background: url(../img/bg-1.jpg) center;
  background-size: cover;
  text-align: center;
  padding: 120px 0 140px;
}
/* line 42, ../scss/_home.scss */
.section#feature h3 {
  color: #fff;
}
/* line 48, ../scss/_home.scss */
.section#about {
  overflow: visible;
  padding: 75px 0 75px;
  text-align: center;
}
/* line 55, ../scss/_home.scss */
.section#who {
  padding: 0 0 90px;
  text-align: center;
}
/* line 58, ../scss/_home.scss */
.section#who #logos {
  text-align: center;
  margin-top: 32px;
}
/* line 61, ../scss/_home.scss */
.section#who #logos a {
  display: inline-block;
  overflow: hidden;
  width: 12%;
  padding: 0 2%;
}
/* line 66, ../scss/_home.scss */
.section#who #logos a.portrait {
  padding: 0;
}
/* line 69, ../scss/_home.scss */
.section#who #logos a img:hover {
  filter: alpha(opacity=75);
  -moz-opacity: 0.75;
  -khtml-opacity: 0.75;
  opacity: 0.75;
}
/* line 77, ../scss/_home.scss */
.section#media {
  background: url(../img/bg-2.jpg) center bottom;
  background-size: cover;
  padding: 82px 0 110px;
}
/* line 81, ../scss/_home.scss */
.section#media h1 {
  margin-bottom: 40px;
  text-align: center;
}
/* line 85, ../scss/_home.scss */
.section#media a {
  font-weight: bold;
}
/* line 91, ../scss/_home.scss */
.section#register {
  overflow: visible;
  padding: 30px 0 60px;
}
/* line 94, ../scss/_home.scss */
.section#register a.social {
  display: block;
  width: 57px;
  height: 57px;
  margin-top: 20px;
  float: left;
  font-size: 0;
  text-indent: -1000px;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
}
/* line 108, ../scss/_home.scss */
.section#register a.social#twitter {
  background: url(../img/social.png) 0 0;
}
/* line 110, ../scss/_home.scss */
.section#register a.social#twitter:hover {
  background: url(../img/social.png) 0 57px;
}
/* line 114, ../scss/_home.scss */
.section#register a.social#email {
  background: url(../img/social.png) 57px 0;
  margin-left: 22px;
}
/* line 117, ../scss/_home.scss */
.section#register a.social#email:hover {
  background: url(../img/social.png) 57px 57px;
}
/* line 122, ../scss/_home.scss */
.section#register .form-icon {
  float: left;
  margin: 15px 20px 0 0;
  display: block;
  clear: left;
}
/* line 128, ../scss/_home.scss */
.section#register .form-description {
  float: left;
  display: block;
  width: 90%;
  margin: 15px 0 0;
}
/* line 138, ../scss/_home.scss */
.section form .validation_error {
  display: none;
}
/* line 141, ../scss/_home.scss */
.section form .validation_message {
  color: red;
}
/* line 144, ../scss/_home.scss */
.section form div {
  float: left;
}
/* line 145, ../scss/_home.scss */
.section form div.gform_body {
  width: 619px;
}
/* line 149, ../scss/_home.scss */
.section form div ul {
  list-style-type: none;
  margin-left: 0;
}
/* line 152, ../scss/_home.scss */
.section form div ul .gform_validation_container {
  display: none;
}
/* line 155, ../scss/_home.scss */
.section form div ul label {
  display: none;
}
/* line 159, ../scss/_home.scss */
.section form div input[type="email"] {
  width: 579px;
  height: 51px;
  border: none;
  background: #e6e6e3;
  padding: 10px 20px;
  font-size: 20px;
  color: #333;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  -webkit-border-radius: 3px 0 0 3px;
  -webkit-box-shadow: inset 5px 5px 0px 0px #d8d8d6;
  -moz-box-shadow: inset 5px 5px 0px 0px #d8d8d6;
  box-shadow: inset 5px 5px 0px 0px #d8d8d6;
}
/* line 173, ../scss/_home.scss */
.section form div input[type="email"]:focus {
  box-shadow: none;
  background: #d8d8d6;
}
/* line 178, ../scss/_home.scss */
.section form div input[type="submit"] {
  border: none;
  outline: none;
  width: 119px;
  height: 71px;
  font-size: 34px;
  text-align: center;
  padding: 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0 4px 4px 0;
}
/* line 192, ../scss/_home.scss */
.section #gforms_confirmation_message {
  background: #d8efd7;
  padding: 18px;
  margin: 29px 0 0;
  font-size: 17px;
  color: #4e804c;
  border: 1px solid #cbe5ca;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
}

/* ----------------*/
/* ----------------*/
/* ----------------*/
/* ----------------*/
/* REGULAR DESKTOPS */
/* ----------------*/
/* ----------------*/
@media (max-width: 1199px) {
  /* line 212, ../scss/_home.scss */
  .section form div.gform_body {
    width: 467px;
  }

  /* line 213, ../scss/_home.scss */
  .section form div input[type="email"] {
    width: 427px;
  }

  /* line 214, ../scss/_home.scss */
  .section#register .form-description {
    width: 87%;
  }
}
/* >>>>>> CUSTOM COLUM WIDTHS TO GIVE THE ILLUSION OF PADDING ON CONTAINER DIVS... ACTUAL PADDING IS NOT WANTED AS IT WILL INCREASE THE WIDTH OF THE CONTAINER DIVS AND SCREW UP THE BOOTSTRAP BREAK POINTS. THE SOLUTION IS TO CREATE ALTERNATIVE COLUM WIDTHS FOR ALL .SPAN DIVS (COLUMS) NESTED WITHIN A '.NO-INDENT' .ROW - '.NO-INDENT' JUST REMOVES THE NEGATIVE MARGIN GIVEN BY BOOTSTRAP. THIS IS ALL DONE SO WE CAN HAVE PADDED CONTAINER DIVS THAT STILL FIT THE BOOTSTRAP STRUCTURE. THIS IS USEFUL WHEN WE WANT A BG COLOR ON CONTAINERS DIVS AND PADDING IS NEEDED."  <<<<<< */
/* line 3, ../scss/_no-indent.scss */
.row.no-indent {
  padding-top: 8px;
  background: #e5e5e5;
  margin-left: 0;
}

/* ----------------*/
/* ----------------*/
/* ----------------*/
/* ----------------*/
/* MOBILE DEVICES */
/* ----------------*/
/* ----------------*/
@media only screen and (min-width: 0px) and (max-width: 482px) {
  /* line 16, ../scss/_no-indent.scss */
  .row.no-indent {
    padding-left: 12px;
    padding-right: 12px;
  }
}
/* ----------------*/
/* ----------------*/
/* ----------------*/
/* ----------------*/
/* SMALL TABLETS / LARGE MOBILES */
/* ----------------*/
/* ----------------*/
@media (min-width: 483px) and (max-width: 767px) {
  /* line 29, ../scss/_no-indent.scss */
  .row.no-indent {
    padding-left: 18px;
    padding-right: 18px;
  }
}
/* ----------------*/
/* ----------------*/
/* ----------------*/
/* ----------------*/
/* TABLETS: 767-979px */
/* ----------------*/
/* ----------------*/
@media (min-width: 768px) and (max-width: 979px) {
  /* line 41, ../scss/_no-indent.scss */
  .row.no-indent {
    /* Custom offests are calculated by: corresponding span width + (gutter width * 2), this is different for different break points */
  }
  /* line 42, ../scss/_no-indent.scss */
  .row.no-indent:last-child {
    padding-bottom: 38px;
  }
  /* line 44, ../scss/_no-indent.scss */
  .row.no-indent .span12 {
    width: 623px;
  }
  /* line 45, ../scss/_no-indent.scss */
  .row.no-indent .span11 {
    width: 569px;
  }
  /* line 46, ../scss/_no-indent.scss */
  .row.no-indent .span10 {
    width: 515px;
  }
  /* line 47, ../scss/_no-indent.scss */
  .row.no-indent .span9 {
    width: 460px;
  }
  /* line 48, ../scss/_no-indent.scss */
  .row.no-indent .span8 {
    width: 406px;
  }
  /* line 49, ../scss/_no-indent.scss */
  .row.no-indent .span7 {
    width: 352px;
  }
  /* line 50, ../scss/_no-indent.scss */
  .row.no-indent .span6 {
    width: 297px;
  }
  /* line 51, ../scss/_no-indent.scss */
  .row.no-indent .span5 {
    width: 243px;
  }
  /* line 52, ../scss/_no-indent.scss */
  .row.no-indent .span4 {
    width: 189px;
  }
  /* line 53, ../scss/_no-indent.scss */
  .row.no-indent .span3 {
    width: 134px;
  }
  /* line 54, ../scss/_no-indent.scss */
  .row.no-indent .span2 {
    width: 80px;
  }
  /* line 55, ../scss/_no-indent.scss */
  .row.no-indent .span1 {
    width: 26px;
  }
  /* line 58, ../scss/_no-indent.scss */
  .row.no-indent .offset11 {
    margin-left: 625px;
  }
  /* line 59, ../scss/_no-indent.scss */
  .row.no-indent .offset10 {
    margin-left: 571px;
  }
  /* line 60, ../scss/_no-indent.scss */
  .row.no-indent .offset9 {
    margin-left: 516px;
  }
  /* line 61, ../scss/_no-indent.scss */
  .row.no-indent .offset8 {
    margin-left: 462px;
  }
  /* line 62, ../scss/_no-indent.scss */
  .row.no-indent .offset7 {
    margin-left: 408px;
  }
  /* line 63, ../scss/_no-indent.scss */
  .row.no-indent .offset6 {
    margin-left: 353px;
  }
  /* line 64, ../scss/_no-indent.scss */
  .row.no-indent .offset5 {
    margin-left: 299px;
  }
  /* line 65, ../scss/_no-indent.scss */
  .row.no-indent .offset4 {
    margin-left: 245px;
  }
  /* line 66, ../scss/_no-indent.scss */
  .row.no-indent .offset3 {
    margin-left: 190px;
  }
  /* line 67, ../scss/_no-indent.scss */
  .row.no-indent .offset2 {
    margin-left: 136px;
  }
  /* line 68, ../scss/_no-indent.scss */
  .row.no-indent .offset1 {
    margin-left: 82px;
  }
}
/* ----------------*/
/* ----------------*/
/* ----------------*/
/* ----------------*/
/* REGULAR DESKTOPS / LAPTOPS: 980-1199px */
/* ----------------*/
/* ----------------*/
@media (min-width: 980px) and (max-width: 1199px) {
  /* line 78, ../scss/_no-indent.scss */
  .row.no-indent {
    /* Custom offests are calculated by: corresponding span width + (gutter width * 2), this is different for different break points */
  }
  /* line 79, ../scss/_no-indent.scss */
  .row.no-indent:last-child {
    padding-bottom: 38px;
  }
  /* line 81, ../scss/_no-indent.scss */
  .row.no-indent .span12 {
    width: 821px;
  }
  /* line 82, ../scss/_no-indent.scss */
  .row.no-indent .span11 {
    width: 750px;
  }
  /* line 83, ../scss/_no-indent.scss */
  .row.no-indent .span10 {
    width: 678px;
  }
  /* line 84, ../scss/_no-indent.scss */
  .row.no-indent .span9 {
    width: 606px;
  }
  /* line 85, ../scss/_no-indent.scss */
  .row.no-indent .span8 {
    width: 535px;
  }
  /* line 86, ../scss/_no-indent.scss */
  .row.no-indent .span7 {
    width: 463px;
  }
  /* line 87, ../scss/_no-indent.scss */
  .row.no-indent .span6 {
    width: 391px;
  }
  /* line 88, ../scss/_no-indent.scss */
  .row.no-indent .span5 {
    width: 320px;
  }
  /* line 89, ../scss/_no-indent.scss */
  .row.no-indent .span4 {
    width: 248px;
  }
  /* line 90, ../scss/_no-indent.scss */
  .row.no-indent .span3 {
    width: 176px;
  }
  /* line 91, ../scss/_no-indent.scss */
  .row.no-indent .span2 {
    width: 105px;
  }
  /* line 92, ../scss/_no-indent.scss */
  .row.no-indent .span1 {
    width: 33px;
  }
  /* line 95, ../scss/_no-indent.scss */
  .row.no-indent .offset11 {
    margin-left: 826px;
  }
  /* line 96, ../scss/_no-indent.scss */
  .row.no-indent .offset10 {
    margin-left: 754px;
  }
  /* line 97, ../scss/_no-indent.scss */
  .row.no-indent .offset9 {
    margin-left: 682px;
  }
  /* line 98, ../scss/_no-indent.scss */
  .row.no-indent .offset8 {
    margin-left: 611px;
  }
  /* line 99, ../scss/_no-indent.scss */
  .row.no-indent .offset7 {
    margin-left: 539px;
  }
  /* line 100, ../scss/_no-indent.scss */
  .row.no-indent .offset6 {
    margin-left: 467px;
  }
  /* line 101, ../scss/_no-indent.scss */
  .row.no-indent .offset5 {
    margin-left: 396px;
  }
  /* line 102, ../scss/_no-indent.scss */
  .row.no-indent .offset4 {
    margin-left: 324px;
  }
  /* line 103, ../scss/_no-indent.scss */
  .row.no-indent .offset3 {
    margin-left: 252px;
  }
  /* line 104, ../scss/_no-indent.scss */
  .row.no-indent .offset2 {
    margin-left: 181px;
  }
  /* line 105, ../scss/_no-indent.scss */
  .row.no-indent .offset1 {
    margin-left: 109px;
  }
}
/* ----------------*/
/* ----------------*/
/* ----------------*/
/* ----------------*/
/* LARGE DESKTOPS / LAPTOPS: > 1199px */
/* ----------------*/
/* ----------------*/
@media (min-width: 1200px) {
  /* line 115, ../scss/_no-indent.scss */
  .row.no-indent {
    /* Custom offests are calculated by: corresponding span width + (gutter width * 2), this is different for different break points */
  }
  /* line 116, ../scss/_no-indent.scss */
  .row.no-indent:last-child {
    padding-bottom: 38px;
  }
  /* line 118, ../scss/_no-indent.scss */
  .row.no-indent .span12 {
    width: 1050px;
  }
  /* line 119, ../scss/_no-indent.scss */
  .row.no-indent .span11 {
    width: 960px;
  }
  /* line 120, ../scss/_no-indent.scss */
  .row.no-indent .span10 {
    width: 869px;
  }
  /* line 121, ../scss/_no-indent.scss */
  .row.no-indent .span9 {
    width: 778px;
  }
  /* line 122, ../scss/_no-indent.scss */
  .row.no-indent .span8 {
    width: 687px;
  }
  /* line 123, ../scss/_no-indent.scss */
  .row.no-indent .span7 {
    width: 596px;
  }
  /* line 124, ../scss/_no-indent.scss */
  .row.no-indent .span6 {
    width: 506px;
  }
  /* line 125, ../scss/_no-indent.scss */
  .row.no-indent .span5 {
    width: 415px;
  }
  /* line 126, ../scss/_no-indent.scss */
  .row.no-indent .span4 {
    width: 324px;
  }
  /* line 127, ../scss/_no-indent.scss */
  .row.no-indent .span3 {
    width: 233px;
  }
  /* line 128, ../scss/_no-indent.scss */
  .row.no-indent .span2 {
    width: 142px;
  }
  /* line 129, ../scss/_no-indent.scss */
  .row.no-indent .span1 {
    width: 52px;
  }
  /* line 132, ../scss/_no-indent.scss */
  .row.no-indent .offset11 {
    margin-left: 1036px;
  }
  /* line 133, ../scss/_no-indent.scss */
  .row.no-indent .offset10 {
    margin-left: 945px;
  }
  /* line 134, ../scss/_no-indent.scss */
  .row.no-indent .offset9 {
    margin-left: 854px;
  }
  /* line 135, ../scss/_no-indent.scss */
  .row.no-indent .offset8 {
    margin-left: 763px;
  }
  /* line 136, ../scss/_no-indent.scss */
  .row.no-indent .offset7 {
    margin-left: 672px;
  }
  /* line 137, ../scss/_no-indent.scss */
  .row.no-indent .offset6 {
    margin-left: 582px;
  }
  /* line 138, ../scss/_no-indent.scss */
  .row.no-indent .offset5 {
    margin-left: 491px;
  }
  /* line 139, ../scss/_no-indent.scss */
  .row.no-indent .offset4 {
    margin-left: 400px;
  }
  /* line 140, ../scss/_no-indent.scss */
  .row.no-indent .offset3 {
    margin-left: 309px;
  }
  /* line 141, ../scss/_no-indent.scss */
  .row.no-indent .offset2 {
    margin-left: 218px;
  }
  /* line 142, ../scss/_no-indent.scss */
  .row.no-indent .offset1 {
    margin-left: 128px;
  }
}
/* ==========================================================================
   Base
   ========================================================================== */
/* line 8, ../scss/app.scss */
html {
  overflow: auto;
}

/* line 9, ../scss/app.scss */
html, body {
  min-height: 100%;
  height: 100%;
  width: 100%;
  min-width: 965px;
}

/* line 16, ../scss/app.scss */
body {
  font-family: "interface",sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #777777;
}

/* line 19, ../scss/app.scss */
[class*="span"] {
  overflow: hidden;
}

/* line 20, ../scss/app.scss */
a {
  -webkit-transition: all 250ms ease;
  -moz-transition: all 250ms ease;
  -o-transition: all 250ms ease;
  transition: all 250ms ease;
  color: #3bdbd2;
}
/* line 26, ../scss/app.scss */
a:visited {
  color: #22b7af;
}
/* line 29, ../scss/app.scss */
a:active, a:hover {
  color: #22b7af;
}

/* line 33, ../scss/app.scss */
.right {
  text-align: right;
}

/* line 34, ../scss/app.scss */
.left {
  text-align: left;
}

/* line 35, ../scss/app.scss */
.bg-white {
  background: #fff;
  padding: 10px 0;
}
/* line 38, ../scss/app.scss */
.bg-white p {
  margin: 0 10px;
}

/* =============================================================================
   Typography
   ========================================================================== */
/* line 47, ../scss/app.scss */
p {
  margin: 0 0 15px;
}

/* line 48, ../scss/app.scss */
h1.jumbo {
  font-size: 52px;
  line-height: 62px;
  color: #333333;
}

/* line 53, ../scss/app.scss */
h1 {
  font-size: 38.5px;
  line-height: 52px;
}

/* line 57, ../scss/app.scss */
h1 {
  margin: 20px 0 16px;
}

/* line 58, ../scss/app.scss */
h2 {
  font-size: 35px;
  color: #c2c2c2;
}

/* line 62, ../scss/app.scss */
h3 {
  font-weight: 300;
  line-height: 37px;
}

/* line 66, ../scss/app.scss */
h4 {
  line-height: 23px;
}

/* line 67, ../scss/app.scss */
h2, h3, h4, h5, h6 {
  margin: 20px 0 7px;
}

/* line 68, ../scss/app.scss */
.aqua {
  color: #3bdbd2;
}

/* line 69, ../scss/app.scss */
.white {
  color: #fff!important;
}

/* line 70, ../scss/app.scss */
.bold {
  font-weight: bold;
}

/* line 71, ../scss/app.scss */
.italic {
  font-style: italic;
}

/* line 72, ../scss/app.scss */
.smallprint {
  font-size: 11px;
  font-weight: normal;
}

/* line 73, ../scss/app.scss */
blockquote p {
  line-height: 1.4;
}

/* =============================================================================
   Buttons
   ========================================================================== */
/* line 78, ../scss/app.scss */
.button {
  display: block;
  color: #fff;
  font-size: 15px;
  padding: 9px 33px 9px 13px;
  background: #3bdbd2;
  font-family: 'Noto Sans', sans-serif;
  font-weight: bold;
  position: relative;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 92, ../scss/app.scss */
.button .arrow {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 5.5px 0 5.5px 8px;
  border-color: transparent transparent transparent #fff;
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -4px;
  right: 11px;
}
/* line 104, ../scss/app.scss */
.button:hover {
  color: #fff;
  text-decoration: none;
  background: #27d5cc;
}

/* =============================================================================
   Spacing and generic styles
   ========================================================================== */
/* line 115, ../scss/app.scss */
hr {
  margin: 30px 0 20px;
  height: 1px;
  width: 100%;
  background: #c2c2c2;
  display: block;
  float: left;
  clear: both;
  border: 0 none;
}

/* line 125, ../scss/app.scss */
.marginTop {
  margin-top: 30px;
}

/* =============================================================================
   Header
   ========================================================================== */
/* line 131, ../scss/app.scss */
.navbar {
  position: relative;
  margin: 30px 0;
}
/* line 134, ../scss/app.scss */
.navbar .navbar-inner {
  background: none;
  padding: 0;
  border: 0 none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 141, ../scss/app.scss */
.navbar .navbar-inner .brand {
  padding: 10px 0 0;
  margin: 0;
  text-shadow: none;
}
/* line 146, ../scss/app.scss */
.navbar .navbar-inner nav {
  float: right;
  /* text-transform: uppercase; */
  margin: 0;
}
/* line 150, ../scss/app.scss */
.navbar .navbar-inner nav .nav {
  margin: 0;
}
/* line 153, ../scss/app.scss */
.navbar .navbar-inner nav .nav li.menu-contact-us a {
  padding-right: 0;
}
/* line 156, ../scss/app.scss */
.navbar .navbar-inner nav .nav li.active a {
  color: #333333;
}
/* line 157, ../scss/app.scss */
.navbar .navbar-inner nav .nav li.active > a {
  background: 0 none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #3bdbd2;
}
/* line 165, ../scss/app.scss */
.navbar .navbar-inner nav .nav li a {
  text-shadow: none;
  font-weight: bold;
  color: #333333;
  padding: 10px 11px 7px;
}
/* line 172, ../scss/app.scss */
.navbar .navbar-inner nav .nav li.dropdown ul.dropdown-menu {
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border-color: #c2c2c2;
  margin: 0;
}
/* line 181, ../scss/app.scss */
.navbar .navbar-inner nav .nav li.dropdown ul.dropdown-menu li a {
  font-size: 12px;
  text-transform: none;
}
/* line 184, ../scss/app.scss */
.navbar .navbar-inner nav .nav li.dropdown ul.dropdown-menu li a:hover {
  background: #c2c2c2;
}
/* line 191, ../scss/app.scss */
.navbar .navbar-inner nav .nav li.dropdown.active > a {
  color: #3bdbd2;
}
/* line 194, ../scss/app.scss */
.navbar .navbar-inner nav .nav li.dropdown.active .dropdown-toggle {
  background-color: transparent;
}
/* line 202, ../scss/app.scss */
.navbar .navbar-inner #login {
  text-transform: uppercase;
  clear: both;
  float: right;
  font-weight: bold;
  font-size: 10px;
  color: #3bdbd2;
}

/* ==========================================================================
   Pagination
   ========================================================================== */
/* line 218, ../scss/app.scss */
nav .tw-pagination a {
  background: #fff;
  border: 0 none;
  padding: 5px 11px 6px;
}
/* line 223, ../scss/app.scss */
nav .tw-pagination .current {
  background: #c2c2c2;
  border: 0 none;
  padding: 5px 11px 6px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
}
/* line 231, ../scss/app.scss */
nav .tw-pagination .title {
  margin-right: 14px;
  font-size: 18px;
}
/* line 235, ../scss/app.scss */
nav .tw-pagination a:hover {
  background: #c2c2c2;
  color: #333333;
}

/* ==========================================================================
   Content
   ========================================================================== */
/* ==========================================================================
   Primary Content
   ========================================================================== */
/* ==========================================================================
   Sidebar
   ========================================================================== */
/* line 262, ../scss/app.scss */
#sidebar {
  font-size: 12px;
  line-height: 18px;
}
/* line 265, ../scss/app.scss */
#sidebar .item {
  margin-bottom: 30px;
}
/* line 267, ../scss/app.scss */
#sidebar .item ul {
  list-style-type: none;
  margin-left: 0;
}
/* line 270, ../scss/app.scss */
#sidebar .item ul li {
  color: dimgrey;
}
/* line 272, ../scss/app.scss */
#sidebar .item ul li a {
  display: block;
  padding: 9px;
  border-bottom: 1px solid #eee;
}
/* line 276, ../scss/app.scss */
#sidebar .item ul li a:hover {
  text-decoration: none;
  background: #3bdbd2;
  border-bottom: 1px solid #3bdbd2;
  color: #fff;
}
/* line 281, ../scss/app.scss */
#sidebar .item ul li a:hover:visited {
  color: #fff;
}
/* line 285, ../scss/app.scss */
#sidebar .item ul li a:visited {
  color: #3bdbd2;
}
/* line 290, ../scss/app.scss */
#sidebar .item ul li.active a {
  text-decoration: none;
  background: #3bdbd2;
  border-bottom: 1px solid #3bdbd2;
  color: #fff;
}

/* ==========================================================================
   Posts
   ========================================================================== */
/* ==========================================================================
   Pagination
   ========================================================================== */
/* line 318, ../scss/app.scss */
.navigation {
  display: block;
  width: 100%;
  clear: both;
}
/* line 323, ../scss/app.scss */
.navigation .tw-pagination a {
  background: #fff;
  border: 0 none;
  padding: 5px 11px 6px;
}
/* line 328, ../scss/app.scss */
.navigation .tw-pagination .current {
  background: #c2c2c2;
  border: 0 none;
  padding: 5px 11px 6px;
  -moz-border-radius: 1px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
}
/* line 336, ../scss/app.scss */
.navigation .tw-pagination .title {
  margin-right: 14px;
  font-size: 18px;
}
/* line 340, ../scss/app.scss */
.navigation .tw-pagination a:hover {
  background: #c2c2c2;
  color: #333333;
}

/* =============================================================================
   Footer Stick Structure
   ========================================================================== */
/* line 351, ../scss/app.scss */
#footer-stick-wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto;
  float: left;
  width: 100%;
}
/* line 357, ../scss/app.scss */
#footer-stick-wrap > .container:last-child {
  margin-bottom: 84px;
  overflow: hidden;
  height: auto;
  position: relative;
  padding-bottom: 40px;
}

/* line 365, ../scss/app.scss */
#finisher {
  width: 100%;
  height: 0px;
  float: left;
  clear: both;
}

/* line 371, ../scss/app.scss */
footer {
  background: #000;
  float: left;
  width: 100%;
  height: 84px;
  margin: -84px 0 0 0;
  vertical-align: bottom;
  position: relative;
}

/* ==========================================================================
   Footer
   ========================================================================== */
/* line 387, ../scss/app.scss */
footer {
  font-family: 'Noto Sans', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
/* line 391, ../scss/app.scss */
footer p {
  margin-bottom: 4px;
}
/* line 394, ../scss/app.scss */
footer .container {
  margin-top: 22px;
}
/* line 396, ../scss/app.scss */
footer .container nav {
  float: right;
}
/* line 398, ../scss/app.scss */
footer .container nav li {
  float: left;
}
/* line 400, ../scss/app.scss */
footer .container nav li a, footer .container nav li a:visited {
  color: dimgrey;
  display: inline;
  margin: 0 0 0 14px;
}
/* line 405, ../scss/app.scss */
footer .container nav li a:hover {
  background: none;
  color: #3bdbd2;
}
/* line 409, ../scss/app.scss */
footer .container nav li.active a {
  color: #fff;
}
/* line 414, ../scss/app.scss */
footer .container #menu-secondary-nav {
  float: right;
  clear: right;
}
/* line 417, ../scss/app.scss */
footer .container #menu-secondary-nav li {
  float: left;
}
/* line 419, ../scss/app.scss */
footer .container #menu-secondary-nav li a, footer .container #menu-secondary-nav li a:visited {
  color: dimgrey;
  display: inline;
  margin: 0 0 0 10px;
  font-size: 9px;
}
/* line 425, ../scss/app.scss */
footer .container #menu-secondary-nav li a:hover {
  background: none;
  color: #3bdbd2;
}

/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */
/* line 441, ../scss/app.scss */
.aligncenter {
  display: block;
  margin: 0 auto;
}

/* line 442, ../scss/app.scss */
.alignleft {
  float: left;
}

/* line 443, ../scss/app.scss */
.alignright {
  float: right;
}

/* line 444, ../scss/app.scss */
figure.alignnone {
  margin-left: 0;
  margin-right: 0;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 979px) {
  /* Fix top padding when using the responsive grid with the fixed topbar */
  /* line 454, ../scss/app.scss */
  body.top-navbar {
    padding-top: 0;
  }
}
/* -------------- RESPONSIVE -------------- */
/* ----------------*/
/* ----------------*/
/* ----------------*/
/* ----------------*/
/* MOBILE DEVICES */
/* ----------------*/
/* ----------------*/
@media only screen and (min-width: 0px) and (max-width: 482px) {
  /* line 468, ../scss/app.scss */
  .hidden-mobile {
    display: none!important;
  }

  /* line 469, ../scss/app.scss */
  body {
    padding: 0;
  }

  /* line 470, ../scss/app.scss */
  .container {
    padding: 0 25px;
  }

  /* line 471, ../scss/app.scss */
  [class*="span"] {
    margin-bottom: 10px;
  }

  /* line 472, ../scss/app.scss */
  .span12.header {
    margin-bottom: 0;
  }

  /* line 473, ../scss/app.scss */
  footer [class*="span"] {
    margin-bottom: 0;
  }

  /* line 474, ../scss/app.scss */
  .navbar {
    margin: 15px 0 0;
  }
  /* line 477, ../scss/app.scss */
  .navbar .navbar-inner a.btn-navbar {
    margin: 0;
    background-image: none;
    background: #fff;
    text-shadow: none;
    filter: none;
    border: 0 none;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
  }
  /* line 491, ../scss/app.scss */
  .navbar .navbar-inner a.btn-navbar .icon-bar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    background: #c2c2c2;
  }
  /* line 500, ../scss/app.scss */
  .navbar .navbar-inner a.btn-navbar.collapsed {
    background: #3bdbd2;
    color: #fff;
  }
  /* line 503, ../scss/app.scss */
  .navbar .navbar-inner a.btn-navbar.collapsed .icon-bar {
    background: #fff;
  }
  /* line 508, ../scss/app.scss */
  .navbar .navbar-inner nav {
    margin-top: 17px;
    width: 100%;
    background: #cccccc;
  }
  /* line 512, ../scss/app.scss */
  .navbar .navbar-inner nav .nav {
    padding: 10px;
  }
  /* line 515, ../scss/app.scss */
  .navbar .navbar-inner nav .nav li.dropdown a {
    outline: none;
  }
  /* line 518, ../scss/app.scss */
  .navbar .navbar-inner nav .nav li.dropdown ul.dropdown-menu {
    background: #3bdbd2;
    margin: 0;
    border: 0 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  /* line 525, ../scss/app.scss */
  .navbar .navbar-inner nav .nav li.dropdown ul.dropdown-menu li a {
    outline: none;
  }
  /* line 527, ../scss/app.scss */
  .navbar .navbar-inner nav .nav li.dropdown ul.dropdown-menu li a:hover {
    background: #23c0b7;
  }
  /* line 536, ../scss/app.scss */
  .navbar .navbar-inner .brand {
    margin: 0;
  }
}
/* ----------------*/
/* ----------------*/
/* ----------------*/
/* ----------------*/
/* SMALL TABLETS / LARGE MOBILES */
/* ----------------*/
/* ----------------*/
@media (min-width: 483px) and (max-width: 767px) {
  /* line 550, ../scss/app.scss */
  .hidden-small-tablet {
    display: none!important;
  }

  /* line 551, ../scss/app.scss */
  body {
    padding: 0;
  }

  /* line 552, ../scss/app.scss */
  .container {
    padding: 0 25px;
  }

  /* line 553, ../scss/app.scss */
  [class*="span"] {
    margin-bottom: 10px;
  }

  /* line 554, ../scss/app.scss */
  .span12.header {
    margin-bottom: 0;
  }

  /* line 555, ../scss/app.scss */
  footer [class*="span"] {
    margin-bottom: 0;
  }

  /* line 556, ../scss/app.scss */
  .navbar {
    margin: 17px 0 0;
  }
  /* line 559, ../scss/app.scss */
  .navbar .navbar-inner a.btn-navbar {
    margin: 0;
    background-image: none;
    background: #c2c2c2;
    text-shadow: none;
    filter: none;
    border: 0 none;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
  }
  /* line 573, ../scss/app.scss */
  .navbar .navbar-inner a.btn-navbar .icon-bar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    background: #fff;
  }
  /* line 582, ../scss/app.scss */
  .navbar .navbar-inner a.btn-navbar.collapsed {
    background: #3bdbd2;
    color: #fff;
  }
  /* line 585, ../scss/app.scss */
  .navbar .navbar-inner a.btn-navbar.collapsed .icon-bar {
    background: #fff;
  }
  /* line 590, ../scss/app.scss */
  .navbar .navbar-inner nav {
    margin-top: 17px;
    width: 100%;
    background: #cccccc;
  }
  /* line 594, ../scss/app.scss */
  .navbar .navbar-inner nav .nav {
    padding: 10px;
  }
  /* line 597, ../scss/app.scss */
  .navbar .navbar-inner nav .nav li.dropdown a {
    outline: none;
  }
  /* line 600, ../scss/app.scss */
  .navbar .navbar-inner nav .nav li.dropdown ul.dropdown-menu {
    background: #3bdbd2;
    margin: 0;
    border: 0 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  /* line 607, ../scss/app.scss */
  .navbar .navbar-inner nav .nav li.dropdown ul.dropdown-menu li a {
    outline: none;
  }
  /* line 609, ../scss/app.scss */
  .navbar .navbar-inner nav .nav li.dropdown ul.dropdown-menu li a:hover {
    background: #23c0b7;
  }
  /* line 618, ../scss/app.scss */
  .navbar .navbar-inner .brand {
    margin: 0;
  }
}
/* ----------------*/
/* ----------------*/
/* ----------------*/
/* ----------------*/
/* REGULAR TABLETS */
/* ----------------*/
/* ----------------*/
@media (min-width: 768px) and (max-width: 979px) {
  /* line 632, ../scss/app.scss */
  .hidden-tablet {
    display: none!important;
  }

  /* line 633, ../scss/app.scss */
  .navbar {
    margin: 22px 0 0;
  }
  /* line 636, ../scss/app.scss */
  .navbar .navbar-inner a.btn-navbar {
    margin: 0;
    background-image: none;
    background: #c2c2c2;
    text-shadow: none;
    filter: none;
    border: 0 none;
    border-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-border-radius: 2px;
  }
  /* line 650, ../scss/app.scss */
  .navbar .navbar-inner a.btn-navbar .icon-bar {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    background: #fff;
  }
  /* line 659, ../scss/app.scss */
  .navbar .navbar-inner a.btn-navbar.collapsed {
    background: #3bdbd2;
    color: #fff;
  }
  /* line 662, ../scss/app.scss */
  .navbar .navbar-inner a.btn-navbar.collapsed .icon-bar {
    background: #fff;
  }
  /* line 667, ../scss/app.scss */
  .navbar .navbar-inner nav {
    margin-top: 17px;
    width: 100%;
    background: #cccccc;
  }
  /* line 671, ../scss/app.scss */
  .navbar .navbar-inner nav .nav {
    padding: 10px;
  }
  /* line 674, ../scss/app.scss */
  .navbar .navbar-inner nav .nav li.dropdown a {
    outline: none;
  }
  /* line 677, ../scss/app.scss */
  .navbar .navbar-inner nav .nav li.dropdown ul.dropdown-menu {
    background: #3bdbd2;
    margin: 0;
    border: 0 none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
  }
  /* line 685, ../scss/app.scss */
  .navbar .navbar-inner nav .nav li.dropdown ul.dropdown-menu li a:hover {
    background: #23c0b7;
  }
  /* line 694, ../scss/app.scss */
  .navbar .navbar-inner .brand {
    margin: 0;
  }
}
/* ----------------*/
/* ----------------*/
/* ----------------*/
/* ----------------*/
/* REGULAR DESKTOPS */
/* ----------------*/
/* ----------------*/
@media (min-width: 980px) and (max-width: 1199px) {
  /* line 708, ../scss/app.scss */
  .hidden-desktop {
    display: none!important;
  }

  /* Nav */
  /* line 710, ../scss/app.scss */
  [class*="span"].header {
    overflow: visible;
  }

  /* line 711, ../scss/app.scss */
  .navbar .navbar-inner nav .nav li.dropdown:hover ul {
    display: block;
  }
}
/* ----------------*/
/* ----------------*/
/* ----------------*/
/* ----------------*/
/* LARGE DESKTOPS */
/* ----------------*/
/* ----------------*/
@media (min-width: 1200px) {
  /* line 721, ../scss/app.scss */
  .hidden-large-desktop {
    display: none!important;
  }

  /* Nav */
  /* line 723, ../scss/app.scss */
  [class*="span"].header {
    overflow: visible;
  }

  /* line 724, ../scss/app.scss */
  .navbar .navbar-inner nav .nav li.dropdown:hover ul {
    display: block;
  }
}
