/*
Theme Name:         Roots
Description:        Used to style the TinyMCE editor
*/
/*
Document   : variables
Created on : Jan 8, 2013, 2:22:28 PM
Author     : Alastair Brayne
Description:
Place variables and mixins such as the colour scheme in here. This will be loaded into all the main stylesheets as an include.
*/
/* line 8, ../scss/editor-style.scss */
.clearfix {
  *zoom: 1;
}

/* line 12, ../scss/editor-style.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 17, ../scss/editor-style.scss */
.clearfix:after {
  clear: both;
}

/* line 20, ../scss/editor-style.scss */
.hide-text {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 27, ../scss/editor-style.scss */
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 35, ../scss/editor-style.scss */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: #ffffff;
}

/* line 42, ../scss/editor-style.scss */
a {
  color: #0088cc;
  text-decoration: none;
}

/* line 46, ../scss/editor-style.scss */
a:hover {
  color: #005580;
  text-decoration: underline;
}

/* line 50, ../scss/editor-style.scss */
.img-rounded {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

/* line 55, ../scss/editor-style.scss */
.img-polaroid {
  padding: 4px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* line 64, ../scss/editor-style.scss */
.img-circle {
  -webkit-border-radius: 500px;
  -moz-border-radius: 500px;
  border-radius: 500px;
}

/* line 69, ../scss/editor-style.scss */
p {
  margin: 0 0 10px;
}

/* line 72, ../scss/editor-style.scss */
.lead {
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 200;
  line-height: 30px;
}

/* line 78, ../scss/editor-style.scss */
small {
  font-size: 85%;
}

/* line 81, ../scss/editor-style.scss */
strong {
  font-weight: bold;
}

/* line 84, ../scss/editor-style.scss */
em {
  font-style: italic;
}

/* line 87, ../scss/editor-style.scss */
cite {
  font-style: normal;
}

/* line 90, ../scss/editor-style.scss */
.muted {
  color: #999999;
}

/* line 93, ../scss/editor-style.scss */
.text-warning {
  color: #c09853;
}

/* line 96, ../scss/editor-style.scss */
a.text-warning:hover {
  color: #a47e3c;
}

/* line 99, ../scss/editor-style.scss */
.text-error {
  color: #b94a48;
}

/* line 102, ../scss/editor-style.scss */
a.text-error:hover {
  color: #953b39;
}

/* line 105, ../scss/editor-style.scss */
.text-info {
  color: #3a87ad;
}

/* line 108, ../scss/editor-style.scss */
a.text-info:hover {
  color: #2d6987;
}

/* line 111, ../scss/editor-style.scss */
.text-success {
  color: #468847;
}

/* line 114, ../scss/editor-style.scss */
a.text-success:hover {
  color: #356635;
}

/* line 122, ../scss/editor-style.scss */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 10px 0;
  font-family: inherit;
  font-weight: bold;
  line-height: 20px;
  color: inherit;
  text-rendering: optimizelegibility;
}

/* line 135, ../scss/editor-style.scss */
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  line-height: 1;
  color: #999999;
}

/* line 142, ../scss/editor-style.scss */
h1,
h2,
h3 {
  line-height: 40px;
}

/* line 145, ../scss/editor-style.scss */
h1 {
  font-size: 38.5px;
}

/* line 148, ../scss/editor-style.scss */
h2 {
  font-size: 31.5px;
}

/* line 151, ../scss/editor-style.scss */
h3 {
  font-size: 24.5px;
}

/* line 154, ../scss/editor-style.scss */
h4 {
  font-size: 17.5px;
}

/* line 157, ../scss/editor-style.scss */
h5 {
  font-size: 14px;
}

/* line 160, ../scss/editor-style.scss */
h6 {
  font-size: 11.9px;
}

/* line 163, ../scss/editor-style.scss */
h1 small {
  font-size: 24.5px;
}

/* line 166, ../scss/editor-style.scss */
h2 small {
  font-size: 17.5px;
}

/* line 169, ../scss/editor-style.scss */
h3 small {
  font-size: 14px;
}

/* line 172, ../scss/editor-style.scss */
h4 small {
  font-size: 14px;
}

/* line 175, ../scss/editor-style.scss */
.page-header {
  padding-bottom: 9px;
  margin: 20px 0 30px;
  border-bottom: 1px solid #eeeeee;
}

/* line 181, ../scss/editor-style.scss */
ul,
ol {
  padding: 0;
  margin: 0 0 10px 25px;
}

/* line 188, ../scss/editor-style.scss */
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

/* line 191, ../scss/editor-style.scss */
li {
  line-height: 20px;
}

/* line 195, ../scss/editor-style.scss */
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

/* line 199, ../scss/editor-style.scss */
dl {
  margin-bottom: 20px;
}

/* line 203, ../scss/editor-style.scss */
dt,
dd {
  line-height: 20px;
}

/* line 206, ../scss/editor-style.scss */
dt {
  font-weight: bold;
}

/* line 209, ../scss/editor-style.scss */
dd {
  margin-left: 10px;
}

/* line 212, ../scss/editor-style.scss */
.dl-horizontal {
  *zoom: 1;
}

/* line 216, ../scss/editor-style.scss */
.dl-horizontal:before,
.dl-horizontal:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 221, ../scss/editor-style.scss */
.dl-horizontal:after {
  clear: both;
}

/* line 224, ../scss/editor-style.scss */
.dl-horizontal dt {
  float: left;
  width: 160px;
  clear: left;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* line 233, ../scss/editor-style.scss */
.dl-horizontal dd {
  margin-left: 180px;
}

/* line 236, ../scss/editor-style.scss */
hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #ffffff;
}

/* line 243, ../scss/editor-style.scss */
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}

/* line 247, ../scss/editor-style.scss */
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

/* line 251, ../scss/editor-style.scss */
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}

/* line 256, ../scss/editor-style.scss */
blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

/* line 262, ../scss/editor-style.scss */
blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}

/* line 267, ../scss/editor-style.scss */
blockquote small:before {
  content: '\2014 \00A0';
}

/* line 270, ../scss/editor-style.scss */
blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}

/* line 278, ../scss/editor-style.scss */
blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}

/* line 281, ../scss/editor-style.scss */
blockquote.pull-right small:before {
  content: '';
}

/* line 284, ../scss/editor-style.scss */
blockquote.pull-right small:after {
  content: '\00A0 \2014';
}

/* line 290, ../scss/editor-style.scss */
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

/* line 293, ../scss/editor-style.scss */
address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}

/* line 300, ../scss/editor-style.scss */
code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

/* line 309, ../scss/editor-style.scss */
code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

/* line 315, ../scss/editor-style.scss */
pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 332, ../scss/editor-style.scss */
pre.prettyprint {
  margin-bottom: 20px;
}

/* line 335, ../scss/editor-style.scss */
pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

/* line 341, ../scss/editor-style.scss */
.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}
